.pagination {
  display: flex;
  justify-content: center;

  li {
    display: block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid #fe5f1e;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    
    &:hover {
      background-color: #fe5f1e;
      color: #fff;
    }

    &.active {
      background-color: #fe5f1e;
      color: #fff;
    }
    
    &.navigate {
      width: 80px;
      &.disabled {
        display: none;
      }
    }
  }
  
}
